body {
    margin: 0;
    margin-top: 0;
    background-color: #20ecf3;
}
h1 {
    text-align: center;
    font-weight: bolder;
}
.topHeading {
    background-color: #2b2929;
    margin-top: 0;
}
.topHeading h1 {
    text-align: center;
    font-weight: bolder;
    color: white;
}
h3 {
    text-align: center;
}
.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}
.visible {
    visibility: visible;
    position: static;
}
#video_demonstration_showhide-button {
    background-color: black;
    color: white;
}